body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* navbar */
.navbar{
    height: 5rem; 
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration:none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline; 
}

.f-info-links{ 
    width: 100%;
}
.f-info-socials{
    font-size: 1.3rem;
    width: 100%;
}
.f-info-socials i{
    margin-right: 0.5rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: space-evenly;
    align-items: center;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body{
    padding: 0 !important ;
}

.card-text-p{
    font-weight: 400 !important;
}

.listing{
    text-decoration: none;
    display: flex;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new */
.add-btn{
    background-color: #fe424d !important;
    border: none;
}

/* edit */
.edit-btn{
    background-color: #fe424d !important;
    border: none;
}

/* show */
.card-img-top{
    height: 40vh;
}

.linkofshow{
    display: flex;
    justify-content: space-evenly;
}

.show-btn{
    background-color: #fe424d !important;
    border-radius: 1rem !important;
    border: none !important;
    width: 8rem;
    height: 2.5rem;
}

/* map */

#map{
    height: 400px;
    width: 94 vh;
}